<ul>
    <li><a href="/api/products">View all products</a></li>
    <li><a href="/api/products?stock">View products in Stock</a></li>
</ul>

<center>
    <h2>{{name}}</h2>
    <p>{{brand}}</p>
    <img src={{image}} alt={{alt}}>
    <p>Price: {{price}}</p>
</center>


